

.container{
    background-color: #1a2335;
    max-width: 100%;
}

h6 {
    color: #fff;
    font-size: 12px;
    margin-bottom: 7px;
    font-weight: 400;
    cursor: pointer;
}

.footerHeading{
    color: #878787;
    margin-bottom: 10px;
    font-size: 15px;
    margin-top: 20px;
}