<div class="container">
  <div class="row">
    <div class="col-md-2 ml-5 ">
      <h6 class="footerHeading">about</h6>
      <h6>Contact Us</h6>
      <h6>about us</h6>
      <h6>careers</h6>
      <h6>flipkart strories</h6>
      <h6>press</h6>
      <h6>flipkart wholesale</h6>
      <h6>cleartrip</h6>
      <h6>corporate Information</h6>
    </div>
    <div class="col-md-2">
      <h6 class="footerHeading">about</h6>
      <h6>payments</h6>
      <h6>shipping</h6>
      <h6>cancelletion & reaturns</h6>
      <h6>FAQ</h6>
      <h6>report infringement</h6>
    </div>
    <div class="col-md-2">
      <h6 class="footerHeading">consumer policy</h6>
      <h6>cancellation & return</h6>
      <h6>terms of use</h6>
      <h6>security</h6>
      <h6>privacy</h6>
      <h6>sitemap</h6>
      <h6>grievance redressal</h6>
      <h6>EPR compliance</h6>
    </div>
    <div class="col-md-1">
      <h6 class="footerHeading">social</h6>
      <h6>facebook</h6>
      <h6>twitter</h6>
      <h6>youtube</h6>
    </div>
    <hr>
    <div class="col-md-2">
      <h6 class="footerHeading">Mail us :</h6>

      <h6>
        Flipkart Internet Private Limited, Buildings Alyssa, Begonia & Clove
        Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village,
        Bengaluru, 560103, Karnataka, India
      </h6>
    </div>
    <div class="col-md-2">
      <h6 class="footerHeading">Registered Office Address:</h6>
      <h6>
        Flipkart Internet Private Limited, Buildings Alyssa, Begonia & Clove
        Embassy Tech Village, Outer Ring Road, Devarabeesanahalli Village,
        Bengaluru, 560103, Karnataka, India CIN : U51109KA2012PTC066107
        Telephone: 044-45614700
      </h6>
    </div>
  </div>
</div>
